.root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #be3131;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202932;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:'Courier New', Courier, monospace;

}
.movie-list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #b61212;
    color: black;
}

.movie {
    text-align: center;
    flex: 0 1 200px;
    margin: 15px;
    border: 5px solid black;
    box-shadow: 15px 15px rgb(200, 200, 200);
}

.movie button {
    margin: 15px;
    color: rgb(146, 15, 15);
    background-color: #ff0000;
    border: none;
}
.button{
    margin: 15px;
    color: rgb(14, 11, 11);
    background-color: #b61212;
    border: none;
}
